# Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=football-data

# Jupyter
JUPYTER_TOKEN=token

# Disparador de Emails Reais (SMTP) - Opcional do Setup
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=preencher_com_usuario_do_brevo
SMTP_PASSWORD=preencher_com_senha_do_brevo
SMTP_FROM=seu_email@email.com

# Jupyter
JUPYTER_TOKEN=token
